# Ignore Visual Studio temporary files
.vs/
*.user
*.suo
*.vcxproj.user

# Ignore build folders
Debug/
Release/
x64/
x86/

# Ignore compiled binaries and object files
*.exe
*.obj
*.pdb
*.ilk
*.idb

# Ignore generated intermediate files
*.tlog
*.lastbuildstate
*.log
*.iobj

# Ignore backup or temporary files
*.tmp
*.bak

# Ignore other system files
Thumbs.db 
